* {
  margin: 0;
  padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(49, 94, 251);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
.w_c {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 910px) {
  html {
    font-size: 38px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
