* {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  box-sizing: border-box;
}
html {
  overflow-y: overlay;
  background-color: rgb(250,250,250);
}
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
 ::-webkit-scrollbar
 {
     width:0;
     height:0;
     background-color:#F5F5F5;
 }
 /*定义滚动条轨道
  内阴影+圆角*/
 ::-webkit-scrollbar-track
 {
     -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
     border-radius:10px;
     background-color:#F5F5F5;
 }
 /*定义滑块
  内阴影+圆角*/
 ::-webkit-scrollbar-thumb
 {
     border-radius:10px;
     -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
     background-color:#555;
 }
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(49, 94, 251);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
.w_c {
  width: 15rem;
  margin: 0 auto;
}
@media screen and (max-width: 910px) {
  html {
    font-size: 38px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
